# Environment variables
.env

# Documents
"CHUKA                                                   UNIVERSITY (1).docx"

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
*.egg-info/
.installed.cfg
*.egg

# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*

# Data
data/*.bin
data/*.pkl
data/*.csv
!data/course_catalogue.csv
!data/curricular_mapping.csv

# IDEs
.vscode/
.idea/

# Streamlit
.streamlit/
